################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryHub/FileContentIndex/0fb11961-ff24-400c-825a-6b48193746ea.vsidx
/.vs/LibraryHub/FileContentIndex/0fb11961-ff24-400c-825a-6b48193746ea.vsidx
/.vs/LibraryHub/FileContentIndex/0fb11961-ff24-400c-825a-6b48193746ea.vsidx
/.vs/LibraryHub/FileContentIndex/6e1b9db4-8851-4c15-b190-7b5b32e2935f.vsidx
/.vs/LibraryHub/FileContentIndex/1dbe90fb-9d65-4f00-985b-05a201982610.vsidx
/.vs/LibraryHub/FileContentIndex/2d7658ef-88f0-4478-8e76-42fb0da51bc2.vsidx
/.vs/LibraryHub/FileContentIndex/5178fcc1-c5de-44d2-b5df-4e25533ea97d.vsidx
/.vs/LibraryHub/FileContentIndex/592028de-d148-4909-9240-13c0bcfc1f13.vsidx
/.vs/LibraryHub/FileContentIndex/54ef59b2-d55e-41f6-98d9-99a36bb87518.vsidx
/.vs/LibraryHub/FileContentIndex/69789f8d-f823-4431-91f4-dc82712e3d83.vsidx
/.vs/LibraryHub/FileContentIndex/6979097b-ce07-464a-8e18-fa4410e68644.vsidx
/.vs/LibraryHub/FileContentIndex/80d0e399-a8f5-4d3b-8e35-b51379931761.vsidx
/.vs/LibraryHub/FileContentIndex/e099a538-9d46-4c04-9480-fd25f16674ba.vsidx
/.vs/LibraryHub/DesignTimeBuild/.dtbcache.v2
/.vs/LibraryHub/v17/.suo
/.vs/LibraryHub/v17/DocumentLayout.backup.json
/.vs/LibraryHub/v17/DocumentLayout.json
/LibraryHub/bin/Debug/net8.0/LibraryHub.dll
/LibraryHub/bin/Debug/net8.0/LibraryHub.pdb
/LibraryHub/bin/Debug/net8.0/LibraryHub.exe
/.vs/LibraryHub/FileContentIndex/e454d3ff-bb83-4650-a642-20f164d9cbb9.vsidx
/LibraryHub/obj/Debug/net8.0/ref/LibraryHub.dll
/LibraryHub/obj/Debug/net8.0/refint/LibraryHub.dll
/LibraryHub/obj/Debug/net8.0/apphost.exe
/LibraryHub/obj/Debug/net8.0/LibraryHub.AssemblyInfo.cs
/LibraryHub/obj/Debug/net8.0/LibraryHub.AssemblyInfoInputs.cache
/LibraryHub/obj/Debug/net8.0/LibraryHub.csproj.CoreCompileInputs.cache
/LibraryHub/obj/Debug/net8.0/LibraryHub.csproj.FileListAbsolute.txt
/LibraryHub/obj/Debug/net8.0/LibraryHub.dll
/LibraryHub/obj/Debug/net8.0/LibraryHub.pdb
*.json
/.vs/LibraryHub/FileContentIndex/e820e791-b4f4-4931-b8aa-df813c7f7d28.vsidx
/.vs/LibraryHub/v17/.futdcache.v2
/.vs/ProjectEvaluation/libraryhub.metadata.v9.bin
/.vs/ProjectEvaluation/libraryhub.projects.v9.bin
/.vs/ProjectEvaluation/libraryhub.strings.v9.bin
